/* Media Bar */

.mediaBar {
    background-color: black;
    color: #D5D921;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: sticky;
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
}

.mediaBar i {
    margin: 5px 0px 5px 20px;
}

.mediaBar p {
    margin: 5px 20px;
    font-weight: normal;
    color: yellow;
}

/* Navbar */

.navbar,
.nav {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

.navbar {
    overflow: hidden !important;
}

.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    color: #691AEC !important;
}

.navbar-collapse {
    flex: 1 !important;
}

.navbar-brand {
    flex: 1;
    margin-right: 0px;
}

.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search i {
    padding-right: 1rem;
}

/* Page Navigation */

.pageNav .nav-link {
    color: black !important;
}

.pageNav .nav-link:hover {
    color: #691AEC;
}

/* Hero */

.hero {
    color: white !important;
    height: 727px;
    background-color: lightblue;
    font-family: 'Bungee', sans-serif;
    background-image: url(../images/hero_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-content: center;
}

.hero .heading3 {
    text-transform: lowercase;
}

.btn-light {
    border: 2px solid black;
    border-radius: 0px;
}

.heroContent {
    line-height: unset;
}

.heroCTA {
    width: 100vw;
}

.btn-light {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-light:hover {
    background-color: #691AEC;
    color: white;
    border: 2px solid black;
}


.scrollingWelcome {
    width: 100%;
    position: relative;
    text-align: center;
}

.scrollAnimate .scrollItem {
    animation: rotateWords 12s ease-in-out infinite;
    position: absolute;
}

.scrollAnimate .scrollItem:nth-child(2) {
    animation-delay: 3s;
}

.scrollAnimate .scrollItem:nth-child(3) {
    animation-delay: 6s;
}

.scrollAnimate .scrollItem:nth-child(4) {
    animation-delay: 9s;
}

/* Latest */

.latest .card-body {
    background-color: black;
}

.latest .card-title {
    color: white;
}

.latest,
.newsletter {
    background-color: black;
    padding: 1.5rem;
}

.latest .heading3pre {
    color: #D5D921;
}

.latest .heading3 {
    color: white;
}

.latest .card {
    border: 2px solid white;
}

/* Past Session */

.pastsession .card-body {
    background-color: white;
}

.pastsession .card-title {
    color: black;
}

.pastsession {
    background-color: white;
    padding: 1.5rem;
}

.newsletter {
    background-color: black;
    padding: 1.5rem;
}

.pastsession .heading3pre {
    color: #D5D921;
}

.pastsession .heading3 {
    color: black;
}

.pastsession .card {
    border: 2px solid black;
}

/* Cards */
.card {
    border: 2px solid black;
    border-radius: 0px;
}

.card-body {
    background-color: #F1F1F1;
}

.chip {
    display: grid;
    justify-content: end;
    align-items: end;
}

.card img {
    background-color: #333333;
}

.cardImg {
    display: grid;
}

.btn-secondary {
    background-color: #D5D921;
    border-radius: 20px;
    padding: 7px 20px;
    border: 0px;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-left: 1rem;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #69E355;
    color: black;
}

.chip .active {
    background-color: #69E355;
    color: black;
    border: 2px solid black;
}

.linkBtn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
    z-index: 0;
}

.card-img-caption .card-text {
    text-align: center;
    width: 100%;
    margin: 44% 0;
    position: absolute;
    z-index: 1;
    font-family: 'Space Mono', monospace;
    font-size: 27px;
    color: white;
}

.card-text-big {
    text-align: center;
    width: 100%;
    margin: 20% 0;
    position: absolute;
    z-index: 1;
    font-family: 'Space Mono', monospace;
    font-size: 27px;
    color: white;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Upcoming */

.upcoming {
    padding: 1.5rem;
}

.upcoming .heading1 {
    color: white;
    font-size: 6rem;
}

.upcoming .card-img-overlay {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Curations */

.curations {
    padding: 1.5rem;
}

.curations .card-body {
    background-color: white;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas: "footerLinks socialLinks""copyright socialLinks";
    margin: 3rem 0rem;
}

footer .nav {
    grid-area: footerLinks;
}

footer .nav-link {
    color: black;
}

footer .nav-link:hover {
    color: #691AEC;
}

.socialLinks {
    grid-area: socialLinks;
    font-size: 3rem;
}

.fab {
    padding: .5rem;
}

.copyright {
    grid-area: copyright;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #B8B8B8;
    padding-left: 1rem;
}

/* Newsletter */

.newsletter {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 4rem 0rem;
}

.newsletterHeading {
    display: grid;
    align-content: center;
    justify-content: center;
}

.newsletter .row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.newsletter .heading3 {
    font-size: 30px;
    color: white;
    text-transform: none;
}

.newsletter .heading5 {
    color: white;
}

.newsletter form {
    margin-top: 0.5rem;
}

/* Page Title */

.pageTitle {
    background-color: black;
}

.preTitle {
    display: flex;
    justify-content: space-between;
}

.pageTitle .heading3pre {
    color: #D5D921
}

.pageTitle .heading3,
.heading3sub {
    color: white;
}

.pageTitle .heading3sub {
    margin-bottom: 1.5rem;
}

/* Indivdual Session Page */

.djBio .card-body a:hover {
    color: #691AEC;
}

.djBio .card-body {
    background-color: white !important;
}

.pageTitle img {
    border: 2px solid white;
}

.djLinks {
    margin-top: 1rem;
}

.tracklist {
    background-color: black;
}

.tracklist .heading4 {
    color: white;
}

.tracklist ul {
    list-style: none;
    margin-top: 1rem;
}

.tracklist li {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: none;
    padding-bottom: .5rem;
    color: white;
}



.djBio .row {
    border: 2px solid white;
}

.djPastshows {
    margin-bottom: 4rem;
}

/* Typography */

.heading1 {
    font-family: 'Bungee', sans-serif;
    font-size: 75px;
}

.heading2 {
    font-family: 'Bungee', sans-serif;
    font-size: 46px;
}

.heading3pre {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: #62586C;
    margin-top: 1.5rem;
}

.heading3 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    text-transform: uppercase;
    margin-bottom: .5rem;
    overflow: hidden;
}

.heading3sub {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
}

.heading4 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
}

.heading4sub {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.heading5 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-transform: capitalize;
}

p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: none;
    margin-bottom: 0 !important;
}

.nb {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nblinks {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    flex: 1;
}

.fab,
.fas {
    cursor: pointer;
}


/*Sessions*/

.heroSessions {
    color: white !important;
    height: 727px;
    background-color: lightblue;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    background-image: url(../images/sessionshero.png);
    background-position: center;
    display: grid;
    align-content: center;
    background-size: cover;
}

.pastsession .card {
    cursor: pointer;
}

.pastsession .card-title:hover {
    background-color: #691AEC;
}

/*Curations Main Page*/

.heroCurations {
    color: white !important;
    height: 727px;
    background-color: black;
    font-family: 'Bungee', sans-serif;
    background-position: center;
    display: grid;
    align-content: center;
}

.pairings .heading4,
p {
    font-weight: bold;
    color: white;
}

.wrapper {
    /* width: 100%; */
    position: relative;
    margin: 0 auto;
    margin-left: 0%;
}

.words {
    display: inline;
}

.words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    text-align: left !important;
}

.rotate span {
    animation: rotateWords 15s ease-in-out infinite;
}

.words span:nth-child(2) {
    animation-delay: 3s;
}

.words span:nth-child(3) {
    animation-delay: 6s;
}

.words span:nth-child(4) {
    animation-delay: 9s;
}

.words span:nth-child(5) {
    animation-delay: 12s;
}

@keyframes rotateWords {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        transform: translateY(0px);
    }

    20% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.collections .card {
    cursor: pointer;
}

.collections .card-text:hover {
    background-color: #691AEC;
}

.spotlight .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    background-color: #F1F1F1 !important;
    border: 0px;
    display: flex;
    justify-content: end;
    padding: 0px;
}

/* Community */

#heroCommunity {
    background-image: none !important;
    background-color: black;
    height: 30vh !important;
    text-align: left !important;
}

.benefits {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}


/* Media Query */

@media only screen and (max-width: 1920px) {
    .upcoming .heading1 {
        font-size: 4.5rem;
    }

}

@media only screen and (max-width: 1440px) {
    .upcoming .heading1 {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 1024px) {
    .upcoming .heading1 {
        font-size: 2rem;
    }

    /* .btn {
        margin: .25rem;
    } */

    .navbar-collapse {
        margin-left: 1rem;
        margin-right: .5rem;
    }

    .search {
        flex: 0;
    }
}

@media only screen and (max-width: 600px) {

    .chip,
    .socialLinks,
    .nav {
        flex-direction: column;
    }

    .hero {
        background-position: left;
        height: auto;
    }

    .heading3 {
        font-size: 2em;
    }

    .heading1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 400px) {
    .upcoming .heading1 {
        font-size: 1.5rem;
    }
}