/* Media Bar */

.mediaBar {
    background-color: black;
    color: #D5D921;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    text-transform: uppercase;
}

.mediaBar i {
    margin: 5px 0px 5px 20px;
}

.mediaBar p {
    margin: 5px 20px;
}

/* Navbar */

.navbar,
.nav {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

.nav-link {
    text-transform: uppercase;
}

.nav-link:hover {
    color: #691AEC !important;
}

.navbar-collapse {
    flex: 1 !important;
}

.navbar-brand {
    flex: 1;
    margin-right: 0px;
}


.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search i {
    padding-right: 1rem;
}

/* Hero */

.hero {
    color: white !important;
    height: 727px;
    background-color: lightblue;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    background-image: url(../images/hero_bg.png);
    background-position: center;
    display: grid;
    align-content: center;
}

.heroTitle {
    width: 100vw;
}

.btn-light {
    border: 2px solid black;
    border-radius: 0px;
}

.heroCTA {
    width: 100vw;
}

.btn-light {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-light:hover {
    background-color: #691AEC;
    color: white;
    border: 2px solid black;
}

.scrollingWelcome .heading1 {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transform: translateX(100%);
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Latest */

.latest .card-body {
    background-color: black;
}

.latest .card-title {
    color: white;
}

.latest,
.newsletter {
    background-color: black;
    padding: 1.5rem;
}

.latest .heading3pre {
    color: #D5D921;
}

.latest .heading3 {
    color: white;
}

.latest .card {
    border: 2px solid white;
}

/* Cards */
.card {
    border: 2px solid black;
    border-radius: 0px;
}

.card-body {
    background-color: #F1F1F1;
}

.chip {
    display: flex;
    justify-content: flex-end;
}

.card img {
    background-color: #333333;
}

.cardImg {
    display: grid;
}

.btn-secondary {
    background-color: #D5D921;
    border-radius: 20px;
    padding: 7px 20px;
    border: 0px;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-left: 1rem;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #69E355;
    color: black;
}

.chip .active {
    background-color: #69E355;
    color: black;
    border: 2px solid black;
}

.linkBtn {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

/* Upcoming */

.upcoming {
    padding: 1.5rem;
}

.upcoming .heading1 {
    color: white;
    font-size: 6rem;
}

.upcoming .card-img-overlay {
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}

/* Curations */

.curations {
    padding: 1.5rem;
}

.curations .card-body {
    background-color: white;
}

.curations .heading4 {
    
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "footerLinks socialLinks""copyright socialLinks";
    padding: 3rem 1.5rem;
}

footer .nav {
    grid-area: footerLinks;
}

footer .nav-link {
    color: black;
}

footer .nav-link:hover {
    color: #691AEC;
}

.socialLinks {
    grid-area: socialLinks;
    font-size: 3rem;
}

.fab {
    padding: .5rem;
}

.copyright {
    grid-area: copyright;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #B8B8B8;
    padding-left: 1rem;
}

/* Newsletter */

.newsletter {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 4rem 0rem;
}

.newsletterHeading {
    display: grid;
    align-content: center;
    justify-content: center;
}

.newsletter .row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.newsletter .heading3 {
    font-size: 30px;
    color: white;
    text-transform: none;
}

.newsletter .heading5 {
    color: white;
}

/* Typography */

.heading1 {
    font-family: 'Bungee', sans-serif;
    font-size: 105px;
}

.heading2 {
    font-family: 'Bungee', sans-serif;
    font-size: 46px;
}

.heading3pre {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: #62586C;
}

.heading3 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    text-transform: uppercase;
}

.heading4 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
}

.heading4sub {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.heading5 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-transform: capitalize;
}

p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: none;
}

.nb {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nblinks {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    flex: 1;
}

.fab,
.fas {
    cursor: pointer;
}

/* Media Query */

@media only screen and (max-width: 1920px) {
    .upcoming .heading1 {
        font-size: 4.5rem;
    }

}

@media only screen and (max-width: 1440px) {
    .upcoming .heading1 {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 1024px) {
    .upcoming .heading1 {
        font-size: 2rem;
    }

    .btn {
        margin: .25rem;
    }
}

@media only screen and (max-width: 600px) {
    .chip {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .upcoming .heading1 {
        font-size: 1.5rem;
    }

}