/* Media Bar */

.mediaBar {
    height: 5vh;
    background-color: black;
    color: #D5D921;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    position: sticky;
    text-transform: uppercase;
}

.mediaBar i {
    margin: 5px 0px 5px 20px;
}

.mediaBar p {
    margin: 5px 20px;
}

/* Navbar */

.navbar {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
}

.nav-link {
    text-transform: uppercase;
}

.nav-item:hover {
    color: #691AEC !important;
}

.navbar-collapse {
    flex: 1 !important;
}

.navbar-brand {
    flex: 1;
    margin-right: 0px;
}


.search {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.search i {
    padding-right: 1rem;
}

/* Hero */

.hero {
    color: white !important;
    height: 727px;
    background-color: lightblue;
    text-align: center;
    font-family: 'Bungee', sans-serif;
    background-image: url(../images/hero_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    align-content: center;
}

.heroTitle {
    width: 100vw;
}

.btn-light {
    border: 2px solid black;
    border-radius: 0px;
}

.heroCTA {
    width: 100vw;
}

.btn-light {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.btn-light:hover {
    background-color: #691AEC;
    color: white;
    border: 2px solid black;
}

.scrollingWelcome .heading1 {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    transform: translateX(100%);
    animation: marquee 15s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Latest */

.latest {
    padding: 1.5rem;
}

/* Cards */
.card {
    border: 2px solid black;
    border-radius: 0px;
}

.card-body {
    background-color: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chip {
    display: flex;
    justify-content: flex-end;
}

.card img {
    background-color: #333333;
}

.btn-secondary {
    background-color: #D5D921;
    border-radius: 20px;
    padding: 7px 20px;
    border: 0px;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    margin-left: 1rem;
    font-weight: 500;
}

.btn-secondary:hover {
    background-color: #69E355;
    color: black;
}

.chip .active {
    background-color: #69E355;
    color: black;
    border: 2px solid black;
}

.sessionLink {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

/* Upcoming */

.upcoming {
    background-color: black;
    padding: 1.5rem;
}

.upcoming .heading3pre {
    color: #D5D921;
}

.upcoming .heading3 {
    color: white;
}

.upcoming .heading1 {
    color: white;
    font-size: 6.25rem;
}

.upcoming .card-img-overlay {
    display: grid;
    align-content: center;
    padding-left: 60px;
    padding-right: 60px;
}

.upcoming .card-body {
    background-color: black;
    border: 2px solid white;
}

.upcoming .heading4,.heading4sub {
    color: white;
}


/* Typography */
.heading1 {
    font-family: 'Bungee', sans-serif;
    font-size: 105px;
}

.heading2 {
    font-family: 'Bungee', sans-serif;
    font-size: 46px;
}

.heading3pre {
    font-family: 'Space Mono', monospace;
    font-size: 26px;
    color: #62586C;
}

.heading3 {
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: 500px;
    text-transform: uppercase;
}

.heading4 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-transform: uppercase;
}

.heading4sub {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
}

.heading5 {
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    text-transform: capitalize;
}

p {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: capitalize;
}

.nb {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.nblinks {
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    flex: 1;
}